/* USER VARIABLES SECTION */

:root {
	--accent: #ea842b;
	--text: #333;
	--regular-text: 16px;
	--lineheight: 1.65;
	--userfont: roboto-st, sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
	--padding: 120px;
	--transition: cubic-bezier(.4, 0, 0, 1);
}

/* BOOTSTRAP SETTINGS SECTION */

/* gutter 20px (10px + 10px). Comment this code for default gutter start at 1.5rem (24px) wide. */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { --bs-gutter-x: .625rem; }
.row, .row > * { --bs-gutter-x: 1.25rem; }

/* FONTS LOAD SECTION */

@font-face { src: url("roboto-regular-webfont.woff2") format("woff2"); font-family: "roboto-st"; font-weight: 400; font-style: normal; }
@font-face { src: url("roboto-italic-webfont.woff2") format("woff2"); font-family: "roboto-st"; font-weight: 400; font-style: italic; }
@font-face { src: url("roboto-bold-webfont.woff2") format("woff2"); font-family: "roboto-st"; font-weight: 700; font-style: normal; }
@font-face { src: url("roboto-bolditalic-webfont.woff2") format("woff2"); font-family: "roboto-st"; font-weight: 700; font-style: italic; }
@font-face { src: url("assassin.woff2") format("woff2"); font-family: "assassin-st"; font-weight: 700; font-style: italic; }

/* GENERAL CSS SETTINGS */

::placeholder { color: #666; }
::selection { background-color: var(--accent); color: #fff; }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

body {
	font-family: var(--userfont);
	font-size: var(--regular-text);
	line-height: var(--lineheight);
	color: var(--text);
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}

.cards__header {
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 1;
	top: 40px;
	font-family: assassin-st, sans-serif;
	font-size: 32px;
}

.cards__header span {
	color: var(--accent);
}


/* .cards-carousel .swiper-wrapper {
	transition: var(--transition);
} */

/* USER STYLES */

body, html{
	height: 100%;
}

.cards {
	background-color: #000;
	height: 100%;
	position: relative;
	color: #fff;
	overflow: hidden;
}

.cards::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	box-shadow: inset 0 0 500px #000;
}

/* .cards::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url(../images/light.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center -65px;
	animation: k-light 10s ease-in-out infinite;
} */

/* .cards__video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: .5;
} */

.cards__content-wrapper {
	position: relative;
	z-index: 2;
	height: 100%;
	padding: var(--padding);

}

/* .cards__content-wrapper {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: url(../images/glow.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	animation: k-glow 1.5s ease-in-out infinite;

} */

.cards-carousel__item {
	position: relative;
	height: calc(100vh - var(--padding)*2);
	/* border: grey solid; */
	/* border-radius: 40px; */
	text-align: center;
	opacity: .10;
	transform: scale(.75);
	transition: opacity 1.8s var(--transition), transform 1.8s var(--transition);
	
}

.cards-carousel__item p {
	position: absolute;
	bottom: 20px;
	width: 100%;
	font-family: assassin-st, sans-serif;
	font-size: 32px;
	text-shadow: rgb(58 78 94) 0 10px 10px;
}

.cards-carousel__item.swiper-slide-active {
	opacity: .8;
	transform: scale(1);
	
}

/* .cards-carousel__item.swiper-slide-duplicate {
	opacity: .25;
	transform: scale(.75);
	background-image: url(/starter/images/DXc0at.jpg);	
} */

.cards-carousel__image-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	perspective: 150px;
	transform-style: preserve-3d;
}

.cards-carousel__image {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;

}
/* NAVIGATION */

.cards-navigation {
	overflow: hidden;
	position: absolute;
	z-index: 2;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	
}

.cards-navigation >* {
	position: absolute;
	height: 100%;
	width: 50%;
	outline: none;
	cursor: pointer;
}

.cards-navigation__next {
	right: 0;
}

.cards-navigation >*::before {
	content: '?';
	color: var(--accent);
	font-family: assassin-st;
	font-size: 45px;
	opacity: 0;
	transition: opacity .75s ease-out;
	position: absolute;
	transform: rotate(-90deg);
	left: 50px;
	top: 50%;

}

.cards-navigation >*:hover::before {
	opacity: .45;
	
}

.cards-navigation__next::before{
	transform: rotate(90deg);
	right: 50px;
	left: auto;
}

.cards-navigation > *.swiper-button-disabled {
	display: none;
}

/* ANIMATIONS */

/* @keyframes k-light {
	0% {
		opacity: .8;
	}
	50% {
		opacity: .9;
	}
	1000% {
		opacity: .8;
	}
}

@keyframes k-glow {
	0% {
		opacity: .8;
	}
	50% {
		opacity: .9;
	}
	1000% {
		opacity: .8;
	}
} */
